{% extends 'Gestion_Evennement/base.html.twig' %}

{% block title %}Demande de Sponsoring{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">        <h1 class="mb-4">Faire une demande de sponsoring pour l'événement: {{ evenement.nom }}</h1>

        <div class="card">
            <div class="card-header">
                <h4>Formulaire de demande de sponsoring</h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.sponsor) }}
                        {{ form_widget(form.sponsor, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.justification) }}
                        {{ form_widget(form.justification, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Envoyer la demande</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
