 
	<!-- Navbar & Hero Start -->
	<div class="container-fluid nav-bar p-0">
		<nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
			<a href="" class="navbar-brand p-0">
				<h1 class="display-5 text-secondary m-0"><img src="{{ asset('img/brand-logo.png') }}" class="img-fluid" alt="">MeetNTrip</h1>
				<!-- <img src="img/logo.png" alt="Logo"> -->
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="fa fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto py-0">
                    
                   
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <span class="dropdown-toggle">COLABORATE</span>
                        </a>
                        <div class="dropdown-menu m-0">
                     
                            <a href="{{ path('sponsor_demandes') }}" class="dropdown-item">Event_Sponsor</a>
 
						 
                        </div>
                    </div>
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <span class="dropdown-toggle">Forum</span>
                        </a>
                        <div class="dropdown-menu m-0">
                     
                          <a href="{{ path('forum_index') }}" class="dropdown-item"> Forum </a>
 
						 
                        </div>
                    </div>
                     
 
				</div><div class="nav-item dropdown">
					<a href="#" class="nav-link" data-bs-toggle="dropdown">
						<span class="dropdown-toggle">Reclam&Reponse</span>
					</a>
					<div class="dropdown-menu m-0">
					 
						  <a href="{{ path('afficher_reclamationFront') }}" class="dropdown-item"> Afficher reclamtion </a>
							  <a href="{{ path('afficher_reponseFront') }}" class="dropdown-item"> response</a>
								  <a href="{{ path('add_reclamation') }}" class="dropdown-item"> reclamtion </a>
					 
					</div>
				</div>
              
                 
                {% if app.user %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span>Welcome  {{ app.user.nom }}</span>
                        </a>
                        <div class="dropdown-menu m-0">
						
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a>
                          
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0 me-2">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-outline-primary border-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0">Register</a>
                {% endif %}
        </div>
		</nav>
	</div>